<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="setup.php" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>
